@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Pacifico&family=Poppins:wght@300;400;600;700&family=Sigmar&display=swap');

:root{
    --pading-container: 100px 0;
    --color-title: #001a49;
}

body{
    font-family: "Poppins", "Pacifico", "Sigmar", "Dangrek", serif;
    background-color: #D7BF5B;
    opacity: 1;
    background-image:  radial-gradient(#04052b 0.5px, transparent 0.5px), radial-gradient(#04052b 0.5px, #D3C89B 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

/* nav */

.nav_bg{
    display: grid;
    top: 0px;
    overflow: hidden;
    background-color: #04052b;
    opacity: 1;
    background-image: radial-gradient(#e5e5f730 0.5px, #04052b 0.5px);
    background-size: 10px 10px;
    z-index: 1;
}

.nav{
    --pading-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0px;
}

.nav_title{
    font-weight: 300;
    font-size: 30px;
    font-family: "Dangrek";
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.7));
    
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    
}

.nav_items{
    list-style: none ;
}

.nav__links{
    color: white;
    text-decoration: none;
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show, none);
}

.--fontBlack{
    color: white;
}

/* header */

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden; 
    padding: var(--pading-container);
}

.hero{
    width:  100% 0;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr ;
    color: white;
    background-color: #04052b;
    opacity: 1;
    background-image: radial-gradient(#e5e5f7 0.5px, #04052b 0.5px);
    background-size: 10px 10px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #04052b; */
    opacity: 0.8;
    background-image: radial-gradient(#e5e5f7 0.5px, #04052b 0.5px);
    background-size: 10px 10px;
    /* background: repeating-linear-gradient(rgb(4, 5, 43),rgb(39, 41, 80) ); */
    /* background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100% ), url("/Img/bg_01.png") ; */
    background-size: cover;
    z-index: -1;
}


.hero_container{
    max-width: 800px;
    display: grid;
    --padding-container: 0;
    grid-auto-rows: max-content;
    gap: 1em;
    padding-bottom: 100px;
    text-align: justify;
    margin-left: 100px;
}

.hero_title{
    font-size: 3rem;
    font-family: "Pacifico", "Sigmar", "Dangrek", serif;
}

.hero_paragraph{
    font-family: "Poppins", serif;
    margin-bottom: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
    width: 80%;
}


/* body */
::before, ::after {
    --tw-content: "";
  }

.dark\:text-slate-50:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(248 250 252 / var(--tw-text-opacity, 1));
  }

.dark\:to-gradient-to-dark:is(.dark *) {
    --tw-gradient-to: var(--gradient-to-dark) var(--tw-gradient-to-position);
  }

/* experience */

.experience{
    text-align: center;
    color: var(--color-title);
    /* font-size: 2rem; */
    padding-top: 20px;
    margin-bottom: 25px;
}

.exp_title{
    display: flex;
    align-items: center;
    width: max-content; 
    height: min-content;
    margin-bottom: 2em;
}

.subtitle{
    font-family: "Dangrek", serif;
}

.index_text{
    margin: 0px;
}

.exp_left_side{
    display: grid;
}

.exp_right_side{
    display: grid;
    justify-items: flex-end;
}

.exp_box_left{
    width: 500px;
    display: grid;
    justify-items: center;
    margin: 2em 0 2em 6em;
    padding: 1em 0 1em 0;    
    background-color: #04052b;
    border-color: #D3C89B;
    border-style: double;
    border-radius: 15px;
}

.exp_box_right{
    width: 500px;
    display: grid; 
    align-self: end;
    justify-items: center;
    margin: 2em 6em 2em 0em;
    padding: 1em 0 1em 0;    
    background-color: #04052b;
    border-color: #D3C89B;
    border-style: double;
    border-radius: 15px;
}

.exp_paragraph{
    font-family: "Poppins", serif;
    margin-bottom: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
    width: 80%;
    text-align: justify;
}

/* Proyects */

.proyects{
    background-image:  radial-gradient(#5b4198 0.5px, #03052a 0.5px);
    background-size: 20px 20px;
    overflow: hidden;
    clip-path: polygon(50% 05%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.proyect_container{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    gap: 1em;
    align-items: center;
}

.proyect_box{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    padding: 2em 1em 0 1em;
    width: 600px;
    height: 380px;
    background-image:  radial-gradient(#212569 0.5px, transparent 0.5px), radial-gradient(#212569 0.5px, #D4C99D 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    border-color: #04052b;
    border-style: double;
    border-radius: 15px;
    opacity: 0;
}

.video_container{
    margin-right: 1em;
}

.proyect_video{
    width: max-content;
    height: max-content;
}

.proyect_info{

}

.proyect_paragraph{
    font-family: "Poppins", serif;
    text-align: justify;
    /* letter-spacing: 2px; */
    line-height: 1.5;
    padding-right: 1em;
    font-size: 90%;
    /* font-weight: 200; */
}

hr._division{
    color: #03052a;
    border: 2px solid;
    border-radius: 5px;
    margin-right: 5em;
}

.proyect_platform{
    display: flex;
    justify-content: space-between;
    margin-right: 5em;
    margin-bottom: 1em;
}

.proyect_slider{
    display: grid;
}

.proyect_box {display:none}

.barra_{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.dots{
    cursor:pointer; 
    border-radius: 50%;
    border: white 2px solid;
    height: 13px;
    width: 13px;
    padding:0;
    margin: 0 5px 0 5px;
}

.dot_pressed{
    background-color: wheat;
    border-radius: 50%;
    border: white 2px solid;
}

.dots:hover{
    background-color: #D3C89B;
}

.fade {
    animation-name: fade;
    animation-duration: 09s;
}
  
@keyframes fade {
    0% {opacity: 0} 
    25% {opacity: 1}
    /* 75% {opacity: 1}*/
    100% {opacity: 1}
}

.demo{
    transition: ease-in-out;
    /* opacity: 1; */
    transition-duration: 0.5s;
}

/* images */

.img_point{
width: 24px;
height: 24px;
}

/* shadows */

.--black_shadow{
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}

.--white_shadow{
    filter: drop-shadow(2px 2px 2px #d7bf5b);
}

.ensayo_muestra{
    width: 1300px;
    height: 600px;
    background-color: blue;
    border: 5px dashed black;
    pointer-events: unset ;
    opacity: 1;
    transition: opacity 1.5s ease-in-out ;
}

/* testing */
/* 
.ensayo_muestra2{
    width: 1300px;
    height: 600px;
    background-color: brown;
    border: 5px dashed black;
}
.cuadro--show{
    pointer-events: unset ;
    opacity: 0;
    transition: opacity 1.5s ease-in-out ;
} */