@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Pacifico&family=Poppins:wght@300;400;600;700&family=Sigmar&display=swap');

:root{
    --pading-container: 100px 0;
    --color-title: #001a49;
}

body { padding: 0; margin: 0; overflow: hidden;}
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-logo-title-footer { float:left; width: 102px; height: 38px; background: url('unity-logo-title-footer.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }


body{
    font-family: "Poppins", "Pacifico", "Sigmar", "Dangrek", serif;
    background-color: #D7BF5B;
    opacity: 1;
    background-image:  radial-gradient(#04052b 0.5px, transparent 0.5px), radial-gradient(#04052b 0.5px, #D3C89B 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

/* nav */

.nav_bg{
    display: grid;
    top: 0px;
    overflow: hidden;
    background-color: #04052b;
    opacity: 1;
    background-image: radial-gradient(#e5e5f730 0.5px, #04052b 0.5px);
    background-size: 10px 10px;
    z-index: 1;
}

.nav{
    --pading-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0px;
}

.nav_title{
    font-weight: 300;
    font-size: 30px;
    font-family: "Dangrek";
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.7));
    cursor: pointer;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    
}

.nav_items{
    list-style: none ;
}

.nav__links{
    color: white;
    text-decoration: none;
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show, none);
}

.--fontBlack{
    color: white;
}

/* header */

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden; 
    padding: var(--pading-container);
}

.hero{
    width:  100% 0;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr ;
    color: white;
    background-color: #04052b;
    opacity: 1;
    background-image: radial-gradient(#e5e5f7 0.5px, #04052b 0.5px);
    background-size: 10px 10px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #04052b; */
    opacity: 0.8;
    background-image: radial-gradient(#e5e5f7 0.5px, #04052b 0.5px);
    background-size: 10px 10px;
    /* background: repeating-linear-gradient(rgb(4, 5, 43),rgb(39, 41, 80) ); */
    /* background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100% ), url("/Img/bg_01.png") ; */
    background-size: cover;
    z-index: -1;
}


.hero_container{
    max-width: 800px;
    display: grid;
    --padding-container: 0;
    grid-auto-rows: max-content;
    gap: 1em;
    padding-bottom: 100px;
    text-align: justify;
    margin-left: 100px;
}

.hero_title{
    font-size: 3rem;
    font-family: "Pacifico", "Sigmar", "Dangrek", serif;
}

.hero_paragraph{
    font-family: "Poppins", serif;
    margin-bottom: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
    width: 80%;
}

.profile_container{
    justify-self: end;
    /* background-image: url(/img/img_profile_real.png); */
    /* background-size: contain; */
    position: absolute;
    width: 400px;
    height: 800px;
    transition: 1s;
    /* z-index: 2; */
}

.profile_container:hover{
    /* background-image: url(/img/img_profile_real.png); */
    scale: 1.5;
    transition: 1s;
    margin-top: 14em;
    margin-right: 7em;
}

.profile_img{
    /* position: relative; */
    width:400px ;
}


/* body */
::before, ::after {
    --tw-content: "";
  }

.dark\:text-slate-50:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(248 250 252 / var(--tw-text-opacity, 1));
  }

.dark\:to-gradient-to-dark:is(.dark *) {
    --tw-gradient-to: var(--gradient-to-dark) var(--tw-gradient-to-position);
  }

/* experience */

.experience{
    text-align: center;
    color: var(--color-title);
    /* font-size: 2rem; */
    padding-top: 20px;
    margin-bottom: 25px;
}

.exp_title{
    display: flex;
    align-items: center;
    width: max-content; 
    height: min-content;
    margin-bottom: 2em;
}

.subtitle{
    font-family: "Dangrek", serif;
}

.index_text{
    margin: 0px;
}

.exp_left_side{
    display: grid;
}

.exp_right_side{
    display: grid;
    justify-items: flex-end;
}

.exp_box_left{
    width: 500px;
    display: grid;
    justify-items: center;
    margin: 2em 0 2em 6em;
    padding: 1em 0 1em 0;    
    background-color: #212569;
    background-image: linear-gradient(to right top, transparent, #03052a 400px);
    border-color: #D3C89B;
    border-style: double;
    border-radius: 15px;
}

.exp_box_right{
    width: 500px;
    display: grid; 
    align-self: end;
    justify-items: center;
    margin: 2em 6em 2em 0em;
    padding: 1em 0 1em 0;    
    background-color: #212569;
    background-image: linear-gradient(to left top, transparent, #03052a 400px);
    border-color: #D3C89B;
    border-style: double;
    border-radius: 15px;
}

.exp_paragraph{
    font-family: "Poppins", serif;
    margin-bottom: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
    width: 80%;
    text-align: justify;
}

/* Proyects */

.proyects{
    /* background-image:  radial-gradient(#5b4198 0.5px, #03052a 0.5px);
    background-size: 20px 20px; */
    background-color: #212569;
    background-image: linear-gradient(to right top, #03052a 900px, transparent, #03052a );
    overflow: hidden;
    clip-path: polygon(50% 05%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.proyect_container{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    gap: 1em;
    align-items: center;
}

.proyect_box{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    padding: 2em 1em 0 1em;
    width: 600px;
    height: 380px;
    background-image:  radial-gradient(#212569 0.5px, transparent 0.5px), radial-gradient(#212569 0.5px, #D4C99D 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    border-color: #04052b;
    border-style: double;
    border-radius: 15px;
    opacity: 0;
}

.video_container{
    margin-right: 1em;
    /* Aquí va las lineas de la imagen */
    width: 300px;
}

.proyect_video{
    width: max-content;
    height: max-content;
}

.proyect_paragraph{
    font-family: "Poppins", serif;
    text-align: justify;
    /* letter-spacing: 2px; */
    line-height: 1.5;
    padding-right: 1em;
    font-size: 90%;
    /* font-weight: 200; */
}

hr._division{
    color: #03052a;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 5em;
}

.proyect_platform{
    display: flex;
    justify-content: space-between;
    margin-right: 5em;
    margin-bottom: 1em;
}

.proyect_slider{
    display: grid;
}

.proyect_box {display:none}

.proyect_img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    scale: 1;
    transition: 0.3s;
}

.proyect_img:hover{
    opacity: 0.7;
    transition: 0.3s;
    scale: 1.1;
}

.barra_{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.dots{
    cursor:pointer; 
    border-radius: 50%;
    border: white 2px double;
    height: 13px;
    width: 13px;
    padding:0;
    margin: 0 5px 0 5px;
}

.dot_pressed{
    background-color: wheat;
    border-radius: 50%;
    border: #03052a 2px double;
}

.dots:hover{
    background-color: #D3C89B;
}

.fade {
    animation-name: fade;
    animation-duration: 09s;
}
  
@keyframes fade {
    0% {opacity: 0} 
    25% {opacity: 1}
    /* 75% {opacity: 1}*/
    100% {opacity: 1}
}

.demo{
    transition: ease-in-out;
    transition-duration: 0.5s;
}

/* technology */

.tech_container{
    text-align: center;
}

.tech_stack{
    padding: 50px 0 50px 0;
    display: grid;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: center;
    background-color: #03052a;
    background-image:  linear-gradient(#090d56 1px, transparent 1px), linear-gradient(to right, #090d56 1px, #03052a 1px);
    background-size: 20px 20px;
    clip-path: polygon(0% 05%, 05% 05%, 05% 0%, 95% 0%, 95% 05%, 100% 05%, 100% 95%, 95% 95%, 95% 100%, 05% 100%, 05% 95%, 0% 95%);
}

.tech_programs{
    display: grid;
    /* display: flex;
    grid-template-rows: max-content max-content;
    justify-content: space-evenly;*/
}

.programs_row{
    display: flex;
    padding: 1em 0 2em 0;
    grid-template-rows: max-content max-content;
    justify-content: space-evenly;
}

.tech_box{
    background-color: #6064A8;
    border-radius: 10px;
    border: #212569 5px solid;
    margin: 0 1em 0 1em;
    cursor: pointer;
    scale: 1;
    transition: 0.5s;
}

.tech_box:hover{
    opacity: 1;
    transition: 0.5s;
    filter: none;
    scale: 1.5;
    filter: drop-shadow(0px 0px 7px white)  invert(100%); 
}

.tech_img{
    width: 100%;
    height: 100%;
}

/* contact */

.contact_container{
    margin-bottom: 0;
    padding-bottom: 0;
}

.contact_box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact_insidebox{
    width: 500px;
    align-content: space-evenly;
    border-radius: 5%;
    background-color: #212569;
    background-image: linear-gradient(to right top, #03052a 400px, transparent, #03052a );
    scale: 0.7;
    transition: 0.4s;
}

.contact_insidebox:hover{
    transition: 0.4s;
    scale: 1    ;
    border: #d3c89b 4px double ;
    filter: drop-shadow(0px 7px 7px #000000b3);
}

.contact_inputs{
    color: white;
    display: grid;
    justify-items: start;
    gap: 1em;
    padding: 0 3em 0 3em;
    /* padding-left: 3em; */
}

.inputmail{
    justify-self: end;
    width: 312px;
    background-color: #dcdcdc;
    border-radius: 5px;
}

.inputmessage{
    justify-self: end;
    height: 92px;
    background-color: #dcdcdc;
    border-radius: 5px;
}

.cta{
    display: inline-block;
    background-color: #212569;
    width: 200px;
    justify-self: center;
    color: white;
    text-decoration: none;
    margin: 30px;
    padding: 13px 30px;
    border-radius: 32px;
    cursor: pointer;
}

.cta:hover{
    opacity: 1;
    transition: 0.5s;
    filter: none;
    scale: 1.2;
    filter: drop-shadow(0px 0px 7px white)  invert(100%); 
}

.contact_social{
    display: grid;
    justify-items: center;
}

.social_container{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 1rem;
    width: fit-content;
}

.social_img{
    background-color: #D4C99D;
    border-radius: 50%;
    border: #7D6E32 5px solid;
    margin: 0 1em 0 1em;
    cursor: pointer;
    scale: 1;
    transition: 0.5s;
    width: 96px;
}

.social_img:hover{
    opacity: 1;
    transition: 0.5s;
    filter: none;
    scale: 1.5;
    filter: drop-shadow(0px 0px 7px white)  invert(100%); 
}

img, .social_img{
    overflow: hidden;
}

/* footer */

.footer {
    display: flex;
    text-align: center;
    height: 100px;
    align-content: space-evenly;
}

/* Internal Video Youtube */

.video_expand {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
/* Modal Content (image) */
.video_content {
    margin: auto;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    border: #d4c99d 4px double;
}
    
/* Add Animation */
.video_content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
} 

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #d4c99d;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover{
    color: #948d71;
}

/* images / buttons */

.img_point{
width: 24px;
height: 24px;
}
/* shadows */

.--black_shadow{
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}

.--white_shadow{
    filter: drop-shadow(2px 2px 2px #d7bf5b);
}

.ensayo_muestra{
    width: 1300px;
    height: 600px;
    background-color: blue;
    border: 5px dashed black;
    pointer-events: unset ;
    opacity: 1;
    transition: opacity 1.5s ease-in-out ;
}

@media (max-width: 811px) {
    #unity-canvas{
        width: 650px;
        height: 100px;
    }    
}